.cart-btn,
.details-btn{
    font-size: 0.7em !important;
    color: #ffffff;
    white-space: nowrap;    
}

@media screen and (max-width:1200px){
    .cart-btn,
    .details-btn{
        font-size: 0.6em !important;
    }   
}

.category-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width:1024px){
    .category-img{
        height: 100%;
    }
}

