.banner-container{
    background-image: url('../img/products/shoes/shoes-banner.jfif');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    color: #ffffff;
    text-align: center;
}